---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://zujkzdvqsjwasmtxzqmu.supabase.co/rest/v1/vahlWood_products?select=*",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1amt6ZHZxc2p3YXNtdHh6cW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4MjI2NTQsImV4cCI6MjAxNjM5ODY1NH0.LklCBuoxUZNfpFfLHuGfS1CJjrEaddQz3BTAe5EcyNg",
      },
    }
  ).then((response) => response.json());

  return data.map((moebler) => {
    return {
      params: { slug: moebler.slug },
      props: { myData: moebler },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<Layout>
  <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
  <section id="productdisplay">
    <article>
      <img class="productImg" src=`/images/${myData.image}` alt={myData.slug} />
    </article>

    <article>
      <h2>{myData.name}</h2>
      <h3>{myData.category}</h3>
      <p>{myData.description}</p>
      <p>{myData.price}</p>
    </article>
  </section>
  <!-- slot slut -->
</Layout>

<style>

#productdisplay{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 5rem;
}

.productImg{
  width: 200px;
}

/* større skærme */
@media screen and (min-width:600px) {
#productdisplay{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items:center;
    }

    .productImg{
  width: 350px;
}


  }

</style>