---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://zujkzdvqsjwasmtxzqmu.supabase.co/rest/v1/vahlWood_products?select=*",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1amt6ZHZxc2p3YXNtdHh6cW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4MjI2NTQsImV4cCI6MjAxNjM5ODY1NH0.LklCBuoxUZNfpFfLHuGfS1CJjrEaddQz3BTAe5EcyNg",
      },
    }
  ).then((response) => response.json());

  return data.map((moebler) => {
    return {
      params: { slug: moebler.slug },
      props: { myData: moebler },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);

---

<Layout>
  <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
  <section id="productdisplay">
    <article>
      <div class="tekst">
        <h2>{myData.name}</h2>
        <h3>{myData.price}</h3>
        <a href="/contact"><p class="knap">KONTAKT FOR BESTILLING</p></a>
        <!--<h3>{myData.category}</h3> -->
        <p class="beskrivelse">{myData.description}</p>
        <section class="produktinformation">
          <h3>Produktinformation</h3>
          <ul>
            <li><p>{myData.productInfo}</p></li>
            <li><p>{myData.productInfo2}</p></li>
            <li><p>{myData.productInfo3}</p></li>
          </ul>
        </section>
      </div>
    </article>

    <article>
      <img class="productImg" src=`/images/${myData.image1}` alt={myData.slug} />
      <img class="productImg" src=`/images/${myData.image2}` alt={myData.slug} />
    </article>

   
  </section>
  <!-- slot slut -->
</Layout>

<style>
  #productdisplay {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* se på denne igen */
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center; /* se på denne igen i mobile version */
  }

  .productImg {
    width: 160px;
    text-align: center; /* virker ikke */
  }

  h2,
  h3,
  p {
    margin-top: 1rem;
    max-width: 90%;
    text-align: left;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*text-decoration: underline; /* se på denne igen , er der pænt? */
    border-bottom: 1px solid #000;
  }

  .knap {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 20rem;
    margin-top: 2rem;
    text-align: center;
  }

  .beskrivelse {
    margin-top: 3rem;
  }

  .produktinformation {
    margin-top: 3rem;
  }

  li {
    margin-left: 1rem;
  }

  .produktinformation h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 17px;
  }
  .produktinformation p {
    margin-top: 1rem;
    /*text-decoration: underline;*/
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    #productdisplay {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 6rem;

      /*align-items: center;*/
    }

    .productImg {
      width: 350px;
      text-align: center; /* virker ikke */
    }

    article:nth-child(1) {
      order: 2;
    }

    article:nth-child(2) {
      order: 1;
    }

    .knap:hover {
      /*background-color: #DAD3C1;*/
      /*color: black;*/
      opacity: 70%;
      /*transition: 1s;*/
    }
    .tekst {
      position: sticky;
      top: 0;
    }
  }
</style>
