---
const { data } = Astro.props;
---

<a href={`/${data.kategori}`}>
  <div class="grid">
    <section class="col1">
      <img class="cardImg" src={`/images/${data.imagekat}`} alt={data.slug} />
    </section>

    <section class="col2">
      <h2>{data.kategori}</h2>
      <p>{data.info}</p>
      <p class="knap">SE MERE</p>

    </section>
  </div>
</a>

<style>

.knap {
    background-color: black;
    color: white;
    padding: 0.8rem;
    width: 13rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .knap:hover {
      opacity: 70%;
    }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col1 {
    margin: 1rem;
  }

  .cardImg {
    width: 300px;
  }
  h2, p {
    color: black;
    text-align: left;
  }

  .cardImg, h2, p{
    margin-left: 25px;

  }

  h2 {
    font-weight: 500;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;

  }

  p{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 17px;
    max-width: 75%;
  }

  a {
    text-decoration: none;
    display: grid;
  }

  .col2{
    margin-left: 1rem; 

  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .col1 {
      margin-bottom: -1rem;
    }

    .col2 {
      margin-left: 2rem; 
      margin-top: 2rem;
    }


    h2 {
      margin-top: 5rem;
    }

    .cardImg {
    width: 100%;
  }

  }
</style>
