---
const { data } = Astro.props;
---

<!--<a href={`/${data.slug}`}>-->
 <a href={`/${data.kategori}`}>
  <div class="">
    <section class="gridItem">
      <img class="cardImg" src={`/images/${data.imagekat}`} alt={data.slug} />
      <h2>{data.kategori}</h2>
    </section>
 
  </div>
</a>

<style>
  .cardImg {
    width: 350px;
  }

  h2, p{
    color: black;
  }

  a{
    text-decoration: none;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
  }
</style>
