---
const { data } = Astro.props;
---

<a href={`/${data.kategori}`}>
  <div class="grid">
    <section class="col1">
      <img class="cardImg" src={`/images/${data.imagekat}`} alt={data.slug} />
    </section>

    <section class="col2">
      <h2>{data.kategori}</h2>
      <p>{data.info}</p>
    </section>
  </div>
</a>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col1 {
    /*text-align: center;*/
    margin: 1rem;
  }

  .col1,
  .col2 {
    /*grid-area: 1/1;*/
  }
  .cardImg {
    width: 300px;
  }
  h2, p {
    color: black;
    text-align: left;
  }

  .cardImg, h2, p{
    margin-left: 25px;

  }

  h2 {
    font-weight: 600;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;

  }

  p{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 17px;
    max-width: 75%;
  }

  a {
    text-decoration: none;
    display: grid;
  }

  .col2{
    margin-left: 1rem; 

  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

   /*.grid section:nth-child(even) {
      grid-column: 1;
      grid-row: 1;
      flex-direction: row-reverse;
      order: 1;
    }*/

    .col1 {
      margin-bottom: -1rem;
      /*order: 1;*/
    }

    .col2 {
      /*padding: 50px;*/
      /*order: 2;*/
      margin-left: 2rem; 
      margin-top: 2rem;
    }

 

    .col1,
    .col2 {
      /*grid-area: none;*/
    }

    h2 {
      margin-top: 5rem;
    }

    .cardImg {
    width: 100%;
  }

  }
</style>
