---
const { data } = Astro.props;
---

<a href={`/moebler/${data.slug}`}>
  <div class="cards">
    <section class="gridItem">
      <img class="cardImg" src={`/images/${data.image}`} alt={data.slug} />
      <h2>{data.name}</h2>
      <p>{data.price}</p>
    </section>
  </div>
</a>

<style>

  .gridItem{
    margin-bottom: 3rem;
  }
  .cardImg {
    width: 250px;
  }

  h2, p{
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;  
  }

    h2{
margin-top: 1rem;
font-size: 17px;
  }

  p{
    font-size: 13px;
    margin-top: 0.5rem;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
  }
</style>
