---
const { data } = Astro.props;
---

<a href={`/moebler/${data.slug}`}>
  <div class="cards">
      <img class="cardImg" src={`/images/${data.image}`} alt={data.slug} />
      <h2>{data.name}</h2>
      <p>{data.price}</p>
  </div>
</a>

<style>

  .cards{
    margin-top: 2rem;
    /*text-align: center;*/
    padding: 25px;
    /*margin-top: 0rem;*/
  }

  .cardImg {
    width: 100%;
    height: auto;
  }

  h2, p{
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;  
  }

    h2{
margin-top: 1rem;
font-size: 17px;
  }

  p{
    font-size: 13px;
    margin-top: 0.5rem;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .cardImg {
    width: 420px;
    height: auto;
  }

  .cards{
      margin-top: 3rem;
    }
  }
</style>
