---
const { data } = Astro.props;

---

<a href={`/moebler/${data.slug}`}>
<article>
    <!--
    <img
    class=""
    src={`/images/${data.image}`}
    alt={data.slug}
  />
   -->
    <h2>{data.name}</h2>
    <p>{data.price}</p>
</article>
</a>