---
const { data } = Astro.props;
// const jsonData = JSON.stringify({data})
---
<!-- <div class="json_obj" data-json={jsonData}></div> -->
<!--<a href={`/${data.slug}`}>-->
 <a href={`/moebler/${data.slug}`}>
  <div class="card">
    <section class="gridItem">
     <img class="cardImg" src={`/images/${data.image2}`} alt={data.slug} />
    
     <div class="cardImg">
      
    </div> 
     <h2>{data.name}</h2>
      <p>{data.price}</p>
    </section>
  </div>
</a>

<style>

  .card{
    margin-top: 5rem;
    text-align: center;
  }
  
  .cardImg {
    width: 420px;
   height: auto; 
    background-image: url({`/images/${data.imageHover}`});
  }

  .cardImg:hover{
background: url({`/images/${data.imageHover}`});

  }
  h2{
    color: black;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 17px;

  }

  p{
margin-top: 0.5rem;
font-weight: 300;
letter-spacing: 3px;
font-size: 13px;
  }

  a{
    color: black;
  }

  /* a:hover{
    <img class="cardImg" src={`/images/${data.imageHover}`} alt={data.slug} />

  } */


  /* større skærme */
  @media screen and (min-width: 600px) {
  }


</style>


<script>
  // const jData = JSON.parse(document.querySelector(".json_obj").dataset.json)
  // console.log("jData",jData)
  // henviser til det billede der skal skiftes ud
  const cardImg = document.querySelector('.cardImg');

  // hover billede
 const hoverImageSrc = `/images/${data.imageHover}`;

  // mouseover skift billede
  cardImg.addEventListener('mouseover', function () {
    cardImg.src = hoverImageSrc;
  });

  // mouseout skift tilbage
  cardImg.addEventListener('mouseout', function () {
    cardImg.src = `/images/${data.image2}`;
  });
</script>
