---
const { data } = Astro.props;
---

<a href={`/moebler/${data.slug}`}>
  <div class="card">
    <div class="overlay">
      <img class="cardImg" src={`/images/${data.image1}`} alt={data.slug} />
      <div class="knap">
        <p>SE MERE</p>
      </div>
    </div>

    <h2>{data.name}</h2>
    <p>{data.price}</p>
  </div>
</a>

<style>
  .overlay{
    position: relative;
  }
  .knap {
    position: absolute;
    top: 80%; /* jo højere procent jo længere fra top */
    left: 50%; /* placeret i midten */
    transform: translate(-50%, -80%);
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    width: 16rem;
    margin-top: 2rem;
    text-align: center;
    z-index: 1;
  }

  .knap:hover {
    opacity: 70%;
  }

  div .knap p {
    color: white;
    font-size: 16px;
  }
  .card {
    margin-top: 2rem;
    /*text-align: center;*/
    padding: 25px;
  }
  .cardImg {
    width: 100%;
    height: auto;
    background-image: url({`/images/${data.imageHover}`});
  }

  .cardImg:hover {
    background: url({`/images/${data.imageHover}`});
  }

  h2,
  p {
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
  }
  h2 {
    margin-top: 1rem;
    font-size: 17px;
  }

  p {
    font-size: 13px;
    margin-top: 0.5rem;
  }

  a {
    color: black;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    .cardImg {
      width: 420px;
      height: auto;
    }
    .card {
      margin-top: 3rem;
    }
  }

