---
const { data } = Astro.props;
---

<!--<a href={`/${data.slug}`}>-->
 <a href={`/moebler/${data.slug}`}>
  <div class="card">
    <section class="gridItem">
      <img class="cardImg" src={`/images/${data.image2}`} alt={data.slug} />
      <h2>{data.name}</h2>
      <p>{data.price}</p>
    </section>
  </div>
</a>

<style>

  .card{
    margin-top: 5rem;
    text-align: center;
  }
  
  .cardImg {
    /*width: 100%;*/
    width: 300px;
  }

  .cardImg::before{
    background: black;
  }

  .cardImg:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
  h2{
    color: black;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 17px;

  }

  p{
margin-top: 0.5rem;
font-weight: 300;
letter-spacing: 3px;
font-size: 13px;



  }

  a{
    color: black;
  }




  /* større skærme */
  @media screen and (min-width: 600px) {
  }


</style>
