---
const { data } = Astro.props;
---

<!--<a href={`/${data.slug}`}>-->
 <a href={`/moebler/${data.slug}`}>
  <div class="">
    <section class="gridItem">
      <img class="cardImg" src={`/images/${data.imageKat}`} alt={data.slug} />
      <h2>{data.name}</h2>
    </section>
  </div>
</a>

<style>
  .cardImg {
    width: 250px;
  }

  h2, p{
    color: black;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
  }
</style>
